* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #f4f4f4;
}

.container {
    width: 35%;
    min-height: 800px;
    background-color: #f4f4f4;
    margin: 0 auto;
}

.content {
    min-height: 800px;
}

/* Header */
.header {
    background-color: rgba(188, 15, 246, 0.267);
    padding: 10px;
    margin: 0 0 10px 0;
}

/* Main */
.main-block {
    display: flex;
    gap: 10px;
}

.left-block {
    width: 40%;
    display:flex;
    flex-direction: column;
    min-height: 500px;
    gap: 10px;
}

/* hero */
.hero {
    flex-grow: 4;
    background-color: rgba(184, 101, 37, 0.267);
    padding: 20px;
}

/* sidebar */
.sidebar {
    flex: 8;
    background-color: rgba(38, 127, 15, 0.267);
    padding: 20px;
}

/* main content */
.right-block {
    width: 60%;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.main-content {
    flex-grow: 3;
    background-color: rgba(185, 176, 19, 0.267);
    padding: 20px;
}

.extra-content {
    flex-grow: 1;
    background-color: rgba(54, 53, 29, 0.267);
    padding: 20px;
}

/* section */
.second-section {
    display: flex;
    min-height: 130px;
    margin-top: 10px;
    gap: 10px;
}

.section-image {
    flex: 3;
    background-color: rgba(89, 72, 222, 0.267);
    padding: 20px;
}

.section-posts {
    flex: 1;
    background-color: rgba(38, 35, 63, 0.267);
    padding: 20px;
}

/* Footer */
.footer {
    background-color: rgba(199, 74, 74, 0.267);
    padding: 20px;
    margin: 10px 0 0 0;
}